<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js & Okta inc</title>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
    </form>
    <div id="logoutform">
        <a href="/logout" >Logout</button>
    </div>
    <script>
            var socket = io.connect('http://localhost:8080');
            var username = <%- username %>;
            // submit text message without reload/refresh the page
            $('form#chatForm').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // username
            socket.emit('username', username);
    </script>
  </body>
</html>