<!DOCTYPE html>
<html>
  <head>
    <title>Home - Simple Group Chat on Node.js & Okta inc</title>
    <style></style>
  </head>
  <body>
      <h3>Hello <%- username %></h3>
      <br><br>
      <form method="POST" action="/logout">
      <button type="submit">Logout</button>
      </form>
      <br><br>
      <p>
          Please proceed to out secret chat room by clicking <a href="/chat">here</a>
      </p>
  </body>
</html>