* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form#chatForm { background: #fff; padding: 13px 5px 5px 5px ; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;margin-bottom:10px}
form#chatForm input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
form#chatForm button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
div#logoutform a{ position: absolute; top: 20px; right: 35px; text-align:center; }
div#logoutform a { width:120px; background: rgb(130, 224, 255); padding: 10px; text-decoration:none; }